.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content-elements {
  background-color: antiquewhite;
  border: 5px solid black;
  border-radius: 25px;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  height: 500px;
  box-shadow: 5px 3px #5e5959;
}

.content-header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .todo-input {
    font-size: 22px;
    border: 3px solid black;
  }
  .plus {
    margin-left: 2px;
    height: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}

.content-body {
  margin-top: 20px;
  margin-bottom: 20px;
  .task-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .task-line-left {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: left;
      flex-direction: row;
      margin-bottom: 5px;
      .checkbox {
        margin-top: 5px;
        &:hover {
          cursor: pointer;
        }
      }
      .task-edit {
        width: 100%;
        font-size: 20px;
        border: none;
        border-radius: 25px;
        margin-left: 4px;
      }
      .task {
        margin-left: 5px;
        font-weight: 500;
        font-size: 22px;
        font-weight: 500;
      }
      .task-completed {
        text-decoration: line-through;
      }
    }
    .task-line-right {
      margin-top: 2px;
      width: 65px;
      .remove {
        width: 23px;
        &:hover {
          cursor: pointer;
        }
      }
      .edit {
        width: 21px;
        margin-left: 10px;
        margin-right: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.content-tabs {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .btn {
    background-color: rgb(161, 206, 191);
    margin: 1px;
    width: 90px;
    border-radius: 15px;
    box-shadow: 0px 3px #5e5959;
    &:hover {
      background-color: rgb(240, 241, 189);
      cursor: pointer;
      box-shadow: 0px 0px #5e5959;
    }
  }
  .btn-selected {
    background-color: rgb(161, 206, 191);
    margin: 1px;
    width: 90px;
    border-radius: 15px;
    background-color: rgb(240, 241, 189);
    cursor: pointer;
    box-shadow: 0px 0px #5e5959;
  }
}
